#center {

text-align: center;

}

 #p1 {     
 text-align: center;
text-decoration: underline;     
text-decoration-color: black;  
}	

table, th, td {
  border:1px solid red;
} 

#p2 {
	font-size: 25px;
	color: red;
}

td:hover {
    background-color: #87CEFA;
}