h2 {
	text-align: center;
}

.srno{
	float: left;
	color: blue;
	border-style: solid;
	border: solid 1px;
	border-color: black;
	background: white;
	height: 102px;
	width: 60px;
}

.prod {
	float: left;
	color: blue;
	border: solid 1px;
	border-color: black;
	background: white;
	height: 50px;
	width: 450px;
}

.name{
	float: left;
	color: black;
	border: solid 1px;
	border-color: black;
	background: white;
	margin-left: -756px;
	margin-top: 52px;
	height: 50px;
	width: 150px;
}

.description{
	float: left;
	color: black;
	border: solid 1px;
	border-color: black;
	background: white;
	margin-left: -606px;
	margin-top: 52px;
	height: 50px;
	width: 150px;
}

.brand{
	float: left;
	color: black;
	border: solid 1px;
	border-color: black;
	background: white;
	margin-left: -456px;
	margin-top: 52px;
	height: 50px;
	width: 150px;
}

.quantity{
	float: left;
	color: black;
	border: solid 1px;
	border-color: black;
	background: white;
	height: 102px;
	width: 150px;
}

.rate{
	float: left;
	color: black;
	border: solid 1px;
	border-color: black;
	background: white;
	height: 102px;
	width: 150px;
}

#number {
	text-align: center;
	color: green;
	font-size: 30px;
}

.num{
	float: left;
	color: green;
	border-left: solid 1px;
	border-bottom: solid 1px;
	border-right: solid 1px;
	border-color: black;
	background: white;
	height: 50px;
	width: 60px;
}

.data{
	float: left;
	color: black;
	text-align: center;
	font-size: 20px;
	border-left: solid 1px;
	border-bottom: solid 1px;
	border-right: solid 1px;
	border-color: black;
	background: white;
	height: 50px;
	width: 149px;
}

.nextline{
	clear: left;
}